<!--DEV en local-->
<Context antiJARLocking="true" path="/">
	<Resource name="BeanManager" auth="Container"
		type="javax.enterprise.inject.spi.BeanManager" factory="org.jboss.weld.resources.ManagerObjectFactory" />

	<Resource name="jdbc/socle" auth="Container" type="javax.sql.DataSource"
		username="webd_socle" password="!socle12" driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:mysql://localhost/socle" maxActive="8" maxIdle="4" />

	<Realm className="org.apache.catalina.realm.DataSourceRealm"
		dataSourceName="jdbc/socle" userTable="socle_user" userNameCol="loginUser"
		userCredCol="passwordUser" userRoleTable="socle_user" roleNameCol="tomcatRoleUser"
		localDataSource="true" digest="sha1">
	</Realm>
</Context>

 
