<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="show_sql">false</property>
		<property name="hibernate.use_sql_comments">false</property>
		<property name="format_sql">falseÒ</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.max_fetch_depth">3</property>
		<property name="connection.datasource">java:comp/env/jdbc/socle</property>
			<property name="hibernate.generate_statistics" value="false" />
			 
		        <property name="hibernate.c3p0.timeout">180000</property>
	</session-factory>
</hibernate-configuration>