<div class="modal fade" role="dialog" aria-labelledby="dataConfirmLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- <div class="modal-header">
                                 
            </div> -->
			<div class="modal-body">
				<div class="login-box-body">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<p class="login-box-msg">Veuillez saisir vos identifiants Motrice</p>
					
					<div ng-show="authError != null" class="alert alert-danger alert-dismissable">
                    	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">x</button>
                    	<h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    	{{authError}}
                  	</div>
					
					
					<form ng-submit="executeImport()">
						<div class="form-group has-feedback">
							<input type="text" class="form-control" placeholder="Identifiant" ng-model="currentData.username" name="username">
							<span class="glyphicon glyphicon-user form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input type="password" class="form-control"
								placeholder="Mot de passe" ng-model="currentData.password" name="password"> <span
								class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<div class="row">
							<div class="col-xs-8">
								<div class="checkbox icheck">
									<label> <input type="checkbox"> Remember Me
									</label>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-xs-4">
								<button type="submit" class="btn btn-primary btn-block btn-flat">Démarrer</button>
							</div>
							<!-- /.col -->
						</div>
					</form>
				</div>
				<!-- /.login-box-body -->
			</div>
		</div>
	</div>
</div>